@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  box-sizing: border-box;
  scroll-behavior: smooth;
  background: #fff;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

header {
  background-color: #222222;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.navbarPart1 {
  display: flex;
  align-items: center;
  gap: 44px;
  margin: 18px 19px;
}

.searchSite {
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
}
.shopImg1 {
  position: relative;
}

.ellipseImg5 {
  position: absolute;
  top: -8px;
  right: -8px;
}

.ellipseImg5_1 {
  position: relative;
}

.ellipseImg5_2 {
  position: absolute;
  top: 2px;
  right: 6px;
  color: #fff;
  font-size: 12px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.navbarPart2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 33px;
  margin: 30px 22px;
}
main {
  background-color: #f1e4e6;
  margin-bottom: 65px;
  display: flex;
  position: relative;
}

/* -------------------js-burger--------------------------------------------- */
.hidden {
  display: none;
}

.menu-active {
  width: 232px;
  height: 700px;
  background: #fff;
  position: absolute;
  right: 0;
  top: 0;
}
.menu-active__all {
}
.menu-close {
  border: none;
  background: transparent;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.menu-close__btn {
  fill: #222;
  transition: 0.2s;
}

.menu-close__btn:hover {
  fill: #f16d7f;
  transition: 0.2s;
}

.menu-main-list {
  margin: 32px;
}

.menu-heading h4 {
  display: flex;
  width: 55px;
  flex-direction: column;
  flex-shrink: 0;
  color: #000;
  font-family: "Lato";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.menu-text {
  margin-top: 20px;
  margin-bottom: 12px;
}
.menu-text {
  display: flex;
  width: 55px;
  flex-direction: column;
  flex-shrink: 0;
  color: #f16d7f;
  font-family: "Lato";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.menu-list {
  list-style-type: none;
  margin-left: 21px;
  gap: 11px;
  display: flex;
  width: 79.4px;
  flex-direction: column;
  flex-shrink: 0;
  color: #6f6e6e;
  font-family: "Lato";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
/* -------------------js-burger--------------------------------------------- */

.header-content {
  max-width: 1600px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: flex-end;
}
.boxTextMain2 {
  display: flex;
  gap: 10px;
}

.mainText2 {
  flex-wrap: nowrap;
  color: #222;
  font-size: 48px;
  font-family: "Lato";
  font-weight: 900;
}
.colorTextMain {
  color: #f16d7f;
}
.sectionWraper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  gap: 30px;
  margin-bottom: 96px;
}
.bigImgSection {
  grid-column: 3 span;
}
.ImgCategory2 {
  display: none;
}

.sectionMainWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.textUpImage {
  justify-content: center;
  flex-wrap: wrap;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-family: "Lato";
  position: absolute;
  color: #ffffff;
}

.textUpImageBig {
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-family: "Lato";
  color: #ffffff;
  position: absolute;
}

.changeText1 {
  color: #f16d7f;
}

.sectionMain2 {
  margin-bottom: 48.5px;
}

.sectionMain2 h1 {
  color: #222;
  font-size: 30px;
  font-family: "Lato";
}

.sectionMain2 p {
  color: #9f9f9f;
  font-size: 14px;
  font-family: "Lato";
}

.headMain2text {
  justify-content: center;
  text-align: center;
  margin-bottom: 48px;
}

.sectionShopMain {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}
.slideShop {
  background-color: #f8f8f8;
}
.wrapperTextSlide {
  display: flex;
  /* width: 360px; */
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  padding: 24px 16px;
}

.slideShop h3 {
  color: #000;
  font-size: 13px;
  font-family: "Lato";
}
.slideShop p {
  color: #5d5d5d;
  font-size: 14px;
  font-family: "Lato";
  font-weight: 300;
}

.slideShop h2 {
  color: #f16d7f;
  font-size: 16px;
  font-family: "Lato";
}
/* -----------------------------IMG-SLIDE-SHOP------------------------------------------ */
.ImgSlideShop {
  position: relative;
  margin: 0 auto;
  height: 420px;
}

.ImgSlideShop img {
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.4s;
  cursor: pointer;
}

.ImgSlideShop img.First {
  opacity: 0;
  filter: alpha;
}

.ImgSlideShop:hover img.First {
  opacity: 1;
  filter: alpha;
}

.ImgSlideShop:hover img.Second,
.ImgSlideShop img.Second:hover {
  opacity: 0;
  filter: alpha;
}
/* -------------------------------IMG-SLIDE-SHOP---------------------------------------- */
.posButtonShop {
  display: flex;
  justify-content: center;
  margin-bottom: 60.5px;
}

.buttonAllPr {
  background-color: transparent;
  border: 1px solid #ff6a6a;
  color: #f26376;
  font-size: 16px;
  font-family: "Lato";
  padding: 14.5px 38.5px 13.5px;
  cursor: pointer;
  transition: 0.5s;
}

.buttonAllPr:hover {
  background-color: #f16d7f;
  border: 1px solid #f16d7f;
  color: #fff;
  font-size: 16px;
  font-family: "Lato";
  padding: 14.5px 38.5px 13.5px;
  cursor: pointer;
}

footer {
  background-color: #222224;
}
.delivery {
  display: flex;
  padding: 104px;
  gap: 30px;
  /* margin-bottom: 86.59px; */
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
.delivery__card {
  display: grid;
  justify-items: center;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.delivery__card h3 {
  color: #fbfbfb;
  font-size: 19.96px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.delivery__card p {
  width: 360px;
  color: #fbfbfb;
  text-align: center;
  font-size: 13.97px;
  font-family: "Lato";
  font-style: normal;
  /* font-weight: lighter; */
  font-weight: 300;
  line-height: normal;
}
.footerMain {
  display: flex;
  justify-content: center;
  background-color: rgb(240, 240, 240);
  background-image: url(img/photo_subscribe.png);
  object-fit: contain;
}
.main3_3_3 {
  max-width: 1598.001px;
  height: 448px;
  background-image: url(img/back_subscribe.svg);
}
.imgBackSub {
  object-fit: cover;
  position: relative;
  display: grid;
  align-items: center;
}
.contacts_main h2 {
  display: flex;
  max-width: 557px;
  height: 61px;
  flex-direction: column;
  color: #222224;
  text-align: center;
  font-size: 18px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 200;
  line-height: 167.2%;
}
.contacts_main {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.footerSection1 img {
  margin-top: 97px;
  margin-left: 350px;
}
.footerSection1 h3 {
  display: flex;
  width: 359.449px;
  height: 99px;
  color: #222224;
  text-align: center;
  font-size: 20px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  justify-content: flex-end;
  flex-direction: column;
  margin-left: 228.29px;
}

.footerSection2 {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  margin-top: 150px;
}

.footerSection2 h2 {
  display: flex;
  width: 557px;
  height: 61px;
  flex-direction: column;
}

.textSubscribe1 {
  font-size: 24px;
}

.contacts_main {
  display: grid;
  grid-template-columns: 50% 50%;
}
.buttonEmailSubmit {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  border: none;
  outline: none;
  margin-top: 32px;
  margin-left: 108px;
}
.buttonEmail {
  display: flex;
  width: 170px;
  height: 36px;
  flex-direction: column;
  justify-content: center;
  padding: 7px 64px 6px 22px;
  background-color: #e1e1e1;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  opacity: 0.6710000038146973;
}
.buttonEmail__1 {
  background: transparent;
  border: none;
  outline: none;
}

.buttonSubmit {
  display: flex;
  width: 100px;
  height: 49px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #f16d7f;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  cursor: pointer;
}

.footerContentLogos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerText1 {
  display: flex;
  justify-content: start;
  display: flex;
  flex-direction: column;
  color: #fbfbfb;
  font-size: 16px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 30px;
}

.footerLogos {
  display: flex;
  justify-content: end;
  gap: 7.29px;
  margin-top: 24px;
  margin-bottom: 23px;
}

.footerLogo_1 {
  width: 31.451px;
  height: 32px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s;
}

.footerLogo_1:hover {
  width: 31.451px;
  height: 32px;
  background-color: #f26376;
  fill: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .container {
    max-width: 736px;
    margin: 0 auto;
  }
  .navbarPart1 {
    display: flex;
    align-items: center;
    gap: 44px;
    margin: 18px;
  }

  .header-content {
    max-width: 768px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .mainText2 {
    flex-wrap: nowrap;
    color: #222;
    font-size: 44px;
    font-family: "Lato";
    font-weight: 900;
  }

  .sectionWraper {
    gap: 19.9px;
    display: grid;
    align-content: center;
    justify-content: center;
  }

  .sectionShopMain {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px 16px;
    justify-items: center;
    align-content: space-evenly;
    justify-content: center;
    display: flex;
  }

  .slideShop {
    background-color: #f8f8f8;
    width: 360px;
  }
  .wrapperTextSlide {
    display: flex;
    gap: 16px;
    padding: 24px 18px;
  }
  .sectionMain2 {
    margin-bottom: 32.98px;
  }
  .posButtonShop {
    display: flex;
    justify-content: center;
    margin-bottom: 71.02px;
  }

  .buttonAllPr {
    background-color: transparent;
    border: 1px solid #ff6a6a;
    color: #f26376;
    font-size: 16px;
    font-family: "Lato";
    padding: 14.5px 38.5px 13.5px;
    cursor: pointer;
  }

  .Rectangle20_2 {
    min-width: initial;
  }
  .delivery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .main3_3_3 {
    /* max-width: 1598.001px; */
    height: 620px;
    background-image: url(img/back_imgfont768.svg);
    object-fit: contain;
  }
  .contacts_main {
    display: grid;
    grid-template-columns: 50%;
  }
  .footerSection2 {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  .footerSection1 img {
    margin-top: 62px;
    margin-left: 0px;
    margin-bottom: 8px;
  }

  .img_style {
    display: flex;
    align-content: flex-start;
    justify-content: center;
  }

  .footerSectionText1 {
    display: flex;
    align-content: center;
    justify-content: center;
  }

  .footerSection1 h3 {
    display: flex;
    width: 359.449px;
    height: 99px;
    color: #222224;
    text-align: center;
    font-size: 20px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 0px;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .footerSection2 {
    margin-top: 80px;
  }
  .footerSection2 h2 {
    display: flex;
    width: 557px;
    height: 61px;
    flex-direction: column;
    margin-right: 0px;
    margin-top: 0px;
  }
  .buttonEmailSubmit {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    border: none;
    outline: none;
    margin-top: 27px;
    margin-left: 0px;
  }

  .footerLogos {
    margin-right: 8px;
  }
}

@media (max-width: 375px) {
  .container {
    max-width: 375px;
    margin: 0 auto;
  }
  .searchSiteN {
    display: none;
  }
  .mainImg1 {
    display: none;
  }
  .boxTextMain2 {
    height: 363px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
  .header-content {
    max-width: 768px;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
  }
  .mainText2 {
    color: #222;
    font-size: 38px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 900;
    line-height: normal;
  }
  .sectionWraper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
    color: #211616 70%;
    margin-bottom: 96px;
  }
  .sectionWraper img {
    width: 343px;
  }
  .bigImgSection {
    grid-column: 1 span;
  }
  .ImgCategory1 {
    display: none;
  }
  .ImgCategory2 {
    display: block;
  }
  .sectionMain2 {
    margin-bottom: 40.61px;
  }
  .posButtonShop {
    display: flex;
    justify-content: center;
    margin-bottom: 85px;
  }
  .contacts_main {
    display: grid;
    grid-template-columns: 50%;
  }
  .contacts_main_1 {
    max-width: 375px;
  }
  .main3_3_3 {
    /* max-width: 1598.001px; */
    height: 550px;
    background-image: url(img/back_photoFon375.svg);
    object-fit: contain;
  }
  .footerSection1 {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }
  .footerSection1 img {
    margin-bottom: 0px;
  }
  .footerSection1 h3 {
    display: flex;
    width: 359.449px;
    height: 99px;
    color: #222224;
    text-align: center;
    font-size: 18px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 0px;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .footerSection2 h2 {
    display: flex;
    width: 557px;
    height: 61px;
    flex-direction: column;
    margin-right: 0px;
    margin-top: 0px;
  }
  .footerSection2 {
    margin-top: 66px;
  }
  .buttonEmailSubmit {
    margin-top: 10px;
  }
  .footerSection2 h2 {
    display: flex;
    width: 557px;
    height: 61px;
    flex-direction: column;
  }
  .contacts_main h2 {
    display: flex;
    width: 557px;
    height: 61px;
    flex-direction: column;
    color: #222224;
    text-align: center;
    font-size: 14px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 200;
    line-height: 167.2%;
  }
  .SubscribeStrong {
    font-size: 24px;
  }
  .contacts_main h2 {
    min-width: 375px;
  }
  .footerContentLogos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-items: center;
  }
  .footerLogos {
    margin-right: 0px;
  }
  .footerLogos {
    display: flex;
    gap: 7.29px;
    margin-top: 43px;
    margin-bottom: 0px;
  }
  .footerText1 {
    display: flex;
    justify-content: start;
    flex-direction: column;
    color: #fbfbfb;
    font-size: 16px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0px;
    margin-top: 40px;
  }
}
